---
import { Counter } from "../components/Counter";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1 class="text-3xl m-4">Astro 12312312312312312312312321</h1>
    <!-- <Counter client:load /> -->
    <Counter client:only="react" />
  </body>
</html>
